@using Microsoft.AspNetCore.Http

@{
    var userName = Context.Session.GetString("userName");
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <title>Bảng điều khiển</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/areas/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/areas/css/animation.css">
    <link rel="stylesheet" type="text/css" href="/areas/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/areas/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/areas/css/style.css">
    <link href="~/areas/css/style1.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <link href="~/css/icofont.css" rel="stylesheet" />
    
    <!-- Font -->
    <link rel="stylesheet" href="/areas/font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="/areas/icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="~/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/favicon.png">

    @RenderSection("HeadOptional", required: false)
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/Admin/Home/Index" id="site-logo-inner">
                            <img class="" alt="" src="~/img/logo/logo2.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="center-item">
                            <div class="center-heading">Màn hình chính</div>
                            <ul class="menu-list">
                                <li class="menu-item active">
                                    <a href="/Admin/Home/Index" class="menu-item-button">
                                        <div class="icon"><i class="icon-grid"></i></div>
                                        <div class="text">Bảng điều khiển</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">Tất cả trang</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                                        <div class="text">Sản phẩm</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/product/list" class="">
                                                <div class="text">Danh sách sản phẩm</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/product/create" class="">
                                                <div class="text">Thêm mới sản phẩm</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/product/detail?productId=2" class="">
                                                <div class="text">Chi tiết sản phẩm</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-layers"></i></div>
                                        <div class="text">Danh mục</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/productcategory/list" class="">
                                                <div class="text">Danh mục & Thương hiệu</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-shopping-bag"></i></div>
                                        <div class="text">Dịch vụ</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/service/list" class="">
                                                <div class="text">Danh sách dịch vụ</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/service/create" class="">
                                                <div class="text">Thêm mới dịch vụ</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/service/detail/1" class="">
                                                <div class="text">Chi tiết dịch vụ</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-file-plus"></i></div>
                                        <div class="text">Đơn hàng</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/Order/ListOrderHistory" class="">
                                                <div class="text">Lịch sử đơn hàng</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="oder-detail.html" class="">
                                                <div class="text">Chi tiết đơn hàng</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="oder-tracking.html" class="">
                                                <div class="text">Theo dõi đơn hàng</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-user"></i></div>
                                        <div class="text">Người dùng</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/account/list" class="">
                                                <div class="text">Tất cả nhân viên</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/account/listCustomer" class="">
                                                <div class="text">Tất cả khách hàng</div>
                                            </a>
                                        </li>
                                        @* <li class="sub-menu-item">
                                            <a href="add-new-user.html" class="">
                                                <div class="text">Add new user</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="login.html" class="">
                                                <div class="text">Login</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="sign-up.html" class="">
                                                <div class="text">Sign up</div>
                                            </a>
                                        </li> *@
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-user-plus"></i></div>
                                        <div class="text">Vai trò</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="all-roles.html" class="">
                                                <div class="text">Tất cả các vai trò</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="create-role.html" class="">
                                                <div class="text">Tạo vai trò</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-tag"></i></div>
                                        <div class="text">Khuyến mại</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/discount/list" class="">
                                                <div class="text">Danh sách mã giảm giá</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/promotion/list" class="">
                                                <div class="text">Danh sách khuyến mại</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/discount/create" class="">
                                                <div class="text">Tạo mã giảm giá</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/promotion/create/" class="">
                                                <div class="text">Tạo khuyến mại</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @* <li class="menu-item">
                                    <a href="gallery.html" class="">
                                        <div class="icon"><i class="icon-image"></i></div>
                                        <div class="text">Gallery</div>
                                    </a>
                                </li> *@
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-file-text"></i></div>
                                        <div class="text">Tư vấn</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a asp-area="Admin" asp-controller="Consultation" asp-action="List" class="">
                                                <div class="text">Danh sách đơn tư vấn</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">Cài đặt</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-map-pin"></i></div>
                                        <div class="text">Vị trí</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="countries.html" class="">
                                                <div class="text">Countries</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="states.html" class="">
                                                <div class="text">States</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="cities.html" class="">
                                                <div class="text">Cities</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="setting.html" class="">
                                        <div class="icon"><i class="icon-settings"></i></div>
                                        <div class="text">Cài đặt</div>
                                    </a>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-edit"></i></div>
                                        <div class="text">Trang</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="list-page.html" class="">
                                                <div class="text">List page</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="new-page.html" class="">
                                                <div class="text">New page</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="edit-page.html" class="">
                                                <div class="text">Edit page</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">Thành phần</div>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="components.html" class="">
                                        <div class="icon"><i class="icon-database"></i></div>
                                        <div class="text">Thành phần</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="index.html">
                                    <img class="" alt="" src="~/img/favicon.png" data-width="154px" data-height="52px" >
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                                <form class="form-search flex-grow">
                                    <fieldset class="name hide">
                                        <input type="text" placeholder="Tìm kiếm " class="show-search" name="name" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit hide">
                                        <button class="" type="submit"><i class="icon-search"></i></button>
                                    </div>
                                    <div class="box-content-search" id="box-content-search">
                                        <ul class="mb-24">
                                            <li class="mb-14">
                                                <div class="body-title">Top selling product</div>
                                            </li>
                                            <li class="mb-14">
                                                <div class="divider"></div>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="product-item gap14 mb-10">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/17.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Dog Food Rachael Ray Nutrish®</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mb-10">
                                                        <div class="divider"></div>
                                                    </li>
                                                    <li class="product-item gap14 mb-10">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/18.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Natural Dog Food Healthy Dog Food</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mb-10">
                                                        <div class="divider"></div>
                                                    </li>
                                                    <li class="product-item gap14">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/19.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Freshpet Healthy Dog Food and Cat</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="">
                                            <li class="mb-14">
                                                <div class="body-title">Order product</div>
                                            </li>
                                            <li class="mb-14">
                                                <div class="divider"></div>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="product-item gap14 mb-10">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/20.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Sojos Crunchy Natural Grain Free...</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mb-10">
                                                        <div class="divider"></div>
                                                    </li>
                                                    <li class="product-item gap14 mb-10">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/21.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Kristin Watson</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mb-10">
                                                        <div class="divider"></div>
                                                    </li>
                                                    <li class="product-item gap14 mb-10">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/22.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Mega Pumpkin Bone</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="mb-10">
                                                        <div class="divider"></div>
                                                    </li>
                                                    <li class="product-item gap14">
                                                        <div class="image no-bg">
                                                            <img src="/areas/images/products/23.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap20 flex-grow">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text">Mega Pumpkin Bone</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                @* <div class="header-item country">
                                    <select class="image-select no-text">
                                        <option data-thumbnail="/areas/country/1.png">ENG</option>
                                        <option data-thumbnail="/areas/country/9.png">VIE</option>
                                    </select>
                                </div> *@
                                <div class="popup-wrap noti type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-item">
                                                <span class="text-tiny">1</span>
                                                <i class="icon-bell"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="popup-wrap message type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-item">
                                                <span class="text-tiny">1</span>
                                                <i class="icon-message-square"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap apps type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-item">
                                                <i class="icon-grid"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="~/img/profile-user-2.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2" id="user_name">@userName</span>
                                                    <span class="text-tiny">Quản trị viên</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3">
                                            <li>
                                                <a href="/admin/account/profileAccount" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-user"></i>
                                                    </div>
                                                    <div class="body-title-2">Tài khoản</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-mail"></i>
                                                    </div>
                                                    <div class="body-title-2">Hộp thoại</div>
                                                    <div class="number">27</div>
                                                </a>
                                            </li>
                                            @* <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-file-text"></i>
                                                    </div>
                                                    <div class="body-title-2">Taskboard</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="setting.html" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-settings"></i>
                                                    </div>
                                                    <div class="body-title-2">Setting</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li> *@
                                            <li>
                                                <a href="/Account/Logout" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        @RenderBody()
                        <!-- /main-content-wrap -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->
    <!-- Javascript -->
    <script src="/areas/js/jquery.min.js"></script>
    <script src="/areas/js/bootstrap.min.js"></script>
    <script src="/areas/js/bootstrap-select.min.js"></script>
    <script src="/areas/js/zoom.js"></script>
    <script src="~/areas/js/raphael.min.js"></script>
    <script src="/areas/js/apexcharts/apexcharts.js"></script>
    <script src="/areas/js/apexcharts/line-chart-1.js"></script>
    <script src="/areas/js/apexcharts/line-chart-2.js"></script>
    <script src="/areas/js/apexcharts/line-chart-3.js"></script>
    <script src="/areas/js/apexcharts/line-chart-4.js"></script>
    <script src="/areas/js/apexcharts/line-chart-5.js"></script>
    <script src="/areas/js/apexcharts/line-chart-6.js"></script>
    @* <script src="/areas/js/switcher.js"></script> *@
    @* <script src="/areas/js/theme-settings.js"></script> *@
    <script src="/areas/js/main.js"></script>
    <script src="~/js/myjs.js"></script>
    <!-- jquery 3.3.1 -->
    <script src="~/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/js/jquery.scrollUp.js"></script>
    <!-- Jquery nice select js -->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Plugin js -->
    <script src="~/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="~/js/main.js"></script>
    @RenderSection("ScriptOptional", required: false)
</body>


<!-- Mirrored from themesflat.co/html/remos/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jun 2024 17:50:55 GMT -->
</html>
