@{
    ViewData["Title"] = "ListCustomer";
}
@using PetStoreProject.ViewModels;

@model List<AccountDetailViewModel>

<link href="~/areas/css/list-user-style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Tất cả khách hàng</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="index.html"><div class="text-tiny">Bảng điều khiển</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Khách hàng</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Tất cả khách hàng</div>
                </li>
            </ul>
        </div>
        <!-- all-user -->
        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <form class="form-search" onsubmit="return false;">
                        <fieldset>
                            <input id="search-input" type="number" placeholder="Tìm kiếm theo tên người khách hàng" class="" name="name" tabindex="2" value="" aria-required="true" required="">
                        </fieldset>
                        <div class="button-submit">
                            <button onclick="search()"><i class="icon-search"></i></button>
                        </div>
                    </form>
                    <div class="wg-filter">
                        <label style="font-size: 16px">Trạng thái:</label>
                        <select id="selected_status" onchange="selectedStatus()" style="width:auto">
                            <option selected value="">-- Tất cả --</option>
                            <option value="0">Kích hoạt</option>
                            <option value="1">Không kích hoạt</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="wg-table table-all-user" id="table-content">
                <ul class="table-title flex gap20 mb-14" id="title-table">
                    <li class="user ">
                        <div id="user-hover" onclick="sortByName()" class="no-select body-title">Khách hàng <i class="bi bi-chevron-expand"></i></div>
                    </li>
                    <li class="phone">
                        <div class="body-title">Số điện thoại</div>
                    </li>
                    <li class="email">
                        <div class="body-title">Email</div>
                    </li>
                    @* <li>
                        <div class="body-title">Vai trò</div>
                    </li> *@
                    <li class="status">
                        <div class="body-title">Trạng thái</div>
                    </li>
                    <li>
                        <div class="body-title">Hành động</div>
                    </li>
                </ul>
                <ul id="list-users" class="flex flex-column">
                    <!-- data user -->
                </ul>
            </div>
            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap40"  style="font-size:16px;">
                <div id="total-user"></div>
                <div class="text-tiny" id="no_data"></div>
                <div id="pagination"></div>
            </div>
        </div>
        <!-- /all-user -->
    </div>
    <!-- /main-content-wrap -->
</div>

<script src="~/js/list-product.js"></script>
<script src="~/areas/js/list-user.js"></script>