@{
    ViewData["Title"] = "Giới Thiệu";
}

<!-- About Us Area Start -->
<div class="skill-area adp_top adp_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_image">
                    <img src="img/banner/promotoion_banner_1.jpg" alt="about-image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="about-title">
                        <h3>Tầm Nhìn Và Sứ Mệnh</h3>
                    </div>
                    <!-- Section Title End -->
                    <p>Bắt đầu từ cửa hàng nhỏ đầu tiên tại Hà Nội năm 2011, chúng tôi đã chứng kiến và tạo ra nhiều thay đổi thú vị trong ngành công nghiệp và dịch vụ chăm sóc thú cưng tại Việt Nam.</p>
                    <p>Chúng tôi yêu thú cưng và cam kết cung cấp các sản phẩm, dịch vụ, kết nối và chăm sóc mà khách hàng và thú cưng cần trong mọi giai đoạn của cuộc đời. Niềm đam mê dành cho thú cưng này là một phần lý tưởng đích thực và là động lực trong hoạt động kinh doanh của chúng tôi.</p>
                    <p>Chúng tôi tin tưởng vào những gì chúng tôi đang làm dựa trên những giá trị tiêu chuẩn trong việc chăm sóc động vật. Chất lượng sản phẩm và chăm sóc khách hàng.</p>
                    @* <a class="login-btn" href="#">Explore more</a> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Area End -->
<!-- Client Testmonial Area Start Here -->
<div class="testmonial-area adp_top adp_bottom" style="background:#fbfbfb; background-image:url(img/testmonial/testi_bg.jpg)">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-12">
                <!-- Section Title Start Here -->
                <div class="section-title">
                    <span>#Khách Hàng Thân Thiết</span>
                    <h2>Chia Sẻ Của Khách Hàng</h2>
                </div>
                <!-- Section Title End Here -->
            </div>
            <div class="col-xl-12">
                <!-- Testmonial Active Start Here -->
                <div class="testmonial-active">
                    <!-- Single Testmonial Start Here -->
                    <div class="single-testmonial">
                        <div class="testmonial-img">
                            <img src="~/img/team/1.jpg" alt="testmonial-img">
                        </div>
                        <div class="testmonial-content">

                            <h5>Vương Mạnh Tuấn <span>Giảng viên FPT</span></h5>
                            <div class="product-rating">
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rate-blank"></i>
                            </div>
                            <h4>Sản Phẩm Chất Lượng</h4>
                            <p>Tôi đã mua thức ăn và phụ kiện cho chú mèo của mình tại cửa hàng này suốt một năm qua. Chất lượng sản phẩm rất tốt, thức ăn luôn tươi ngon và đầy đủ dinh dưỡng, các phụ kiện thì đa dạng và bền bỉ. Tôi đặc biệt ấn tượng với dịch vụ chăm sóc khách hàng, nhân viên luôn nhiệt tình tư vấn và giao hàng rất nhanh chóng. Tôi hoàn toàn yên tâm khi sử dụng sản phẩm tại đây.</p>
                        </div>
                    </div>
                    <!-- Single Testmonial End Here -->
                    <!-- Single Testmonial Start Here -->
                    <div class="single-testmonial">
                        <div class="testmonial-img">
                            <img src="img/testmonial/02.png" alt="testmonial-img">
                        </div>
                        <div class="testmonial-content">

                            <h5>Nguyễn Thu Hiền <span>Kinh Doanh Tự Do</span></h5>
                            <div class="product-rating">
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                            </div>
                            <h4>Chuyên Nghiệp Và Chu Đáo</h4>
                            <p>Chú cún nhà tôi rất thích dịch vụ spa grooming tại cửa hàng này. Mỗi lần đến đây, cún cưng của tôi được chăm sóc tận tình, từ việc tắm rửa, cắt tỉa lông cho đến vệ sinh tai và móng. Sau mỗi lần spa, cún của tôi trông rất sạch sẽ và thơm tho. Dịch vụ rất chuyên nghiệp và giá cả hợp lý. Tôi rất hài lòng và sẽ tiếp tục đưa cún cưng đến đây để chăm sóc.</p>

                        </div>
                    </div>
                    <!-- Single Testmonial End Here -->
                    <!-- Single Testmonial Start Here -->
                    <div class="single-testmonial">
                        <div class="testmonial-img">
                            <img src="img/testmonial/03.png" alt="testmonial-img">
                        </div>
                        <div class="testmonial-content">

                            <h5>Silomans <span>Designer</span></h5>
                            <div class="product-rating">
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rate-blank"></i>
                                <i class="icofont-ui-rate-blank"></i>
                            </div>
                            <h4>Super Talanted</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's pets_tab dummy text ever since.</p>

                        </div>
                    </div>
                    <!-- Single Testmonial End Here -->

                </div>
                <!-- Testmonial Active End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Client Testmonial Area End Here -->