@{
    var account = Context.Session.GetString("Account");
}
<!--Account Start -->
<li class="drodown-show">
    <a href="#"><span class="icofont-ui-user"></span></a>
    <!-- Currency & Language Selection Start -->
    <ul class="dropdown cart-box-width currency-selector">
        <li>
            <div class="single-select-block">
                <h3>Tài Khoản</h3>
                @{
                    if (account == null)
                    {
                        <a asp-controller="Account" asp-action="Login" class="single-account-select">Đăng Nhập</a>
                        <a class="single-account-select mt-2">Đăng Ký</a>
                    }
                    else
                    {
                        <a class="single-account-select">Thông Tin Tài Khoản</a>
                        <a asp-controller="Account" asp-action="Logout" class="single-account-select mt-2">Đăng Xuất</a>
                    }
                }
            </div>
        </li>
    </ul>
</li>
<!--Account End -->