<li class="drodown-show">
    <a href="#"><span class="icofont-shopping-cart"></span><span class="total-pro" id="total_item"></span></a>
    <ul class="dropdown cart-box-width">
        <li>
            <div id="list_item">
            
            </div>
            <div class="cart-footer">
                <ul class="price-content">
                    <li>
                        Total
                        <span id="total_price">0</span>
                    </li>
                </ul>
                <div class="cart-actions text-center">
                    <a class="cart-checkout" href="checkout.html">Checkout</a>
                    <a class="cart-checkout" href="cart.html">View Cart</a>
                </div>
            </div>
            <!-- Cart Footer Inner End -->
        </li>
    </ul>
</li>


