 <!-- Stored Cart Start -->
<li class="drodown-show">
    <a href="#"><span class="icofont-shopping-cart"></span><span class="total-pro" id="total_item"></span></a>
    <ul class="dropdown cart-box-width">
        <li>
            <div id="list_item" style="max-height: 300px; overflow-y: auto">
            
            </div>
            <div class="cart-footer">
                <ul class="price-content">
                    <li style="padding-top: 20px">
                        Tổng
                        <span id="total_price">0</span>
                    </li>
                </ul>
                <div class="cart-actions text-center">
                    <a class="cart-checkout" href="checkout.html">Thanh toán</a>
                    <a class="cart-checkout" href="/cart/detail">Xem giỏ hàng</a>
                </div>
            </div>
        </li>
    </ul>
</li>
<!-- Stored Cart End -->
