.select{
    font-weight:bold;
}
.out-of-stock {
    opacity: 0.3; /* Làm nhạt màu */
    cursor: not-allowed; /* Con trỏ hiển thị không được phép */
    pointer-events: none; /* Ngăn chặn sự kiện click */
}
.scroll {
    max-height: 200px;
    overflow-y: auto;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
}
.page-link{
    cursor: pointer;
}